$color-default: #fff;
$color-light: grey;
$color-font: blue;
$color-train: green;
$color-statistic: #00bf82;
$color-statistic-ceil: #ffd86f;
$color-checkbox-train: linear-gradient(40deg,#00bf82,#0099ae);
$color-checkbox-play: linear-gradient(40deg,#ffd86f,#fc6262);
$color-card-train: linear-gradient(180deg,#0099ae,#00bf82 40%,#fff 0,#fff);;
$color-card-play: linear-gradient(180deg,#fd6a63,#feb46b 40%,#fff 0,#fff);
