.toggle-red {
    background: $color-checkbox-play;
}

.toggle-green {
    background: $color-checkbox-train;
}

.red {
    background: $color-card-play;
}

.green {
    background: $color-card-train;
}

.visible {
    animation: mymove 4s infinite;
}

@keyframes mymove {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}